.airplane-call-to{
  padding-top: 400px;
  position: relative;
  z-index: 2;
  
  @media(max-width: 1440px){
    padding-top: 32vw;
  }

  @media(max-width: 1200px){
    padding-top: 32vw;
  }

  .plain{
    position: absolute;
    z-index: 2;
    width: 1440px;
    transition: all 0.2s;
    top: -220px;
    /*left: auto;
    right: auto;*/
    left: calc( (100% - 1440px) / 2);
    transform: scale(0) ;

    @media(max-width: 1440px){
      width: 100%;
      left: 0;
      right: 0;
      top: -10vw;
    }

    @media(max-width: 992px){
      top: -15vw;
    }

    img{
      width: 100%;
      height: auto;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 2;
  }

  .block-title{
    margin-bottom: 24px;
    font-size: 48px;
    max-width: 780px;

    @media(max-width: 1320px){
      font-size: 44px;
    }

    @media(max-width: 767px){
      font-size: 38px;
    }

    @media(max-width: 575px){
      font-size: 34px;
    }

    @media(max-width: 440px){
      font-size: 6.7vw;
    }

    &.small-title{
      font-size: 34px;
      max-width: 830px;

      @media(max-width: 2000px){
        font-size: 32px;
        max-width: 740px;
      }

      @media(max-width: 992px){
        font-size: 30px;
      }

      @media(max-width: 575px){
        font-size: 28px;
      }

      @media(max-width: 440px){
        font-size: 6vw;
      }

    }
  }

  .text-content{
    font-family: $f-flex;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
    max-width: 650px;

    @media(max-width: 575px){
      font-size: 22px;
    }

    @media(max-width: 440px){
      font-size: 20px;
    }

    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .light{
    position: absolute;
    z-index: 1;
    width: 2304px;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &.visible{
    .plain{
      animation: airplane-mov 1.5s linear 1 forwards;
    }
  }

  @keyframes airplane-mov {

    0%{
      transform: scale(0);
    }

    100%{
      transform: scale(1);
    }
  }

  &.marque-type{
    padding-top: 630px;

    @media(max-width: 1430px){
      padding-top: 46vw;
    }

    @media(max-width: 575px){
      padding-top: 50vw;
    }

    @media(max-width: 440px){
      padding-top: 66vw;
    }

    .run-rows-wrapper{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      padding-top: 80px;

      @media(max-width: 992px){
        padding-top: 10vw;
      }

      .marque-row{
        overflow: hidden;
        padding: 16px 0;

        @media(max-width: 992px){
          padding: 10px 0;
        }

        &.first-row{
          background-color: $color-dark-blue;
          z-index: 1;
          transform: rotate(3deg);
        }

        &.second-row{
          background-color: $color-light-blue;
          z-index: 2;
          transform: rotate(-3deg);
        }
      }

      .marque-list{
        flex-shrink: 0;
        display: flex;
        gap: 32px;
        counter-reset: marque-item;
        justify-content: space-around;
        min-width: 100%;

        @media(max-width: 767px){
          min-width: 200%;
        }

        @media(max-width: 575px){
          min-width: 400%;
        }
      }

      .marquee-move-left {
        animation: scroll-left 40s linear infinite;

        @media(max-width: 767px){
          animation: scroll-left 30s linear infinite;
        }

        @media(max-width: 575px){
          animation: scroll-left 20s linear infinite;
        }

      }

      @keyframes scroll-left {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(calc(-100% - 20px));
        }
      }

      .marquee-move-right {
        animation: scroll-left 40s linear infinite;
        animation-direction: reverse;

        @media(max-width: 767px){
          animation: scroll-left 30s linear infinite;
          animation-direction: reverse;
        }

        @media(max-width: 575px){
          animation: scroll-left 20s linear infinite;
          animation-direction: reverse;
        }

      }

      @keyframes scroll-right {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(calc(-100% - 20px));
        }
      }

      .marque-item{
        flex: 0 0 auto;
        counter-increment: item;
        display: flex;
        justify-content: center;
        align-items: center;
        /*transition: all 0.1s ease-in-out;*/
        transition: all 0.3s;
        margin: 0;
        font-size: 26px;

        @media(max-width: 2000px){
          font-size: 24px;
        }

        @media(max-width: 1200px){
          font-size: 22px;
        }
      }

      img{
        width: 32px;
        height: auto;
      }

      /*.run-row{
        height: auto;
        padding: 16px 0;
        position: relative;
        transform-origin: left;
        width: calc(100% + 20px);
        overflow: hidden;

        @media(max-width: 992px){
          padding: 10px 0;
        }

        .js-marquee{
          font-size: 24px;

          @media(max-width: 992px){
            font-size: 20px;
          }

          @media(max-width: 575px){
            font-size: 16px;
          }
        }

        &.first-row{
          background-color: $color-dark-blue;
          z-index: 1;
          transform: rotate(3deg) translateX(-10px);
        }

        &.second-row{
          background-color: $color-light-blue;
          z-index: 2;
          transform: rotate(-3deg) translateX(-10px);
        }
      }*/
    }

    .plain{
      top: 0;

      @media(max-width: 1430px){
        top: 3vw;
      }

      @media(max-width: 575px){
        top: 6vw;
      }

      @media(max-width: 440px){
        top: 20vw;
      }
    }
  }
}

/*--- page-template-template-services ---*/

.page-template-template-services{
  .airplane-call-to{
    padding-top: 602px;

    @media(max-width: 1440px){
      padding-top: 42vw;
    }
    
    .plain{
      top: 0;
    }
  }
}
