/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: $color-white;
  font-size: 18px;
  line-height: 1.4;
  padding-right: 0 !important;
  background-color: $color-black;

  @media(max-width: 767px){
    font-size: 16px;
  }

  @media(max-width: 440px){
    font-size: 14px;
  }

  .modal.show {
    display: flex !important;
    height: 100%;
  }
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  /*overflow-x: hidden;*/
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.page{
  margin: 0;
  padding: 0;
}

.fixedPosition {
  overflow: hidden !important;

  .wrapper{
    &:before{
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(15, 15, 15, 0.2);
      backdrop-filter: blur(5px);
      z-index: 14;
    }
  }

  .site-header{
    &:before{
      transform: translateX(0);
    }

    .logo-nav{
      opacity: 1;
      transform: translateX(0);
    }
    .logo{
      filter: blur(2px);

      @media(max-width: 767px){
        filter: blur(0);
      }
    }
  }
}

svg{
  width: 100%;
  height: auto;
}

.main{
  flex-grow: 1;
}

/*--- Site header ---*/

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  transition: all 0.3s;
  background-color: rgba(20,20,20,0.1);
  padding: 25px 0;

  &.fixed-header{
    transform: translateY(-110%);
    background-color: rgba(20,20,20,0.8);
    backdrop-filter: blur(8px);

    .main-menu{
      li{
        a{
          color: $color-white !important;
        }
      }
    }

    .lang-wrapper{
      .page-lang{
        .lang-name{
          color: $color-white;
        }
      }
    }
  }

  &.fixed-header-visible{
    transform: translateY(0);
  }
}

/*--- Menu button ---*/

.menu-btn{
  /*display: none;*/
  background-color: rgba(0,0,0,0);
  padding: 8px 12px;
  margin: 0 0 0 16px;
  border: 1px solid rgba(251,251,251,0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  /*width: 40px;
  height: 40px;*/
  z-index: 16;
  
  /*@media(max-width: 1300px){
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }*/
  
  .name{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.4;
    color: $color-white;
    margin-right: 8px;

    @media(max-width: 1200px){
      font-size: 14px;
    }
  }

  .indicator{
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;

    span{
      transition: all 0.3s;
      height: 2px;
      display: block;
      background: $color-white;
      border-radius: 2px;
      width: 100%;
      transform-origin: left;
    }
  }

  &.active{
    .indicator{
      span{

        &:nth-child(1){
          transform: rotate(45deg) translateY(-3px);
        }
        &:nth-child(2){
          transform: rotate(-45deg) translateY(3px);
        }
      }
    }
  }
}

/*--- Header navigation ---*/

.header-navigation{
  /*margin-left: auto;
  margin-right: auto;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  width: 48.9vw;
  /*background-color: $color-dark-blue;*/
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 11;
  padding: 115px 24px 24px 24px;
  /*display: flex;
  flex-wrap: wrap;*/
  transition: all 0.3s;
  transform: translateX(110%);
  overflow: auto;
  /*align-items: flex-start;*/
  /*align-items: flex-start;
  align-content: stretch;*/

  @media(max-width: 1024px){
    width: 60vw;
  }

  @media(max-width: 767px){
    width: 100vw;
    padding-top: 120px;
  }

  /*@media(max-width: 1300px){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-color: $color-dark-blue;
    z-index: 11;
    padding: 90px 15px 40px 15px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;
    transform: translateX(-110%);
    overflow: auto;
    align-items: flex-start;
    align-content: stretch;
  }*/

  &.open-menu{
    transform: translateX(0);
  }


}

.main-menu{
  display: flex;
  padding: 0;
  margin: 0 0 32px 0;
  /*gap: 32px;*/
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;

  /*@media(max-width: 1430px){
    gap: 24px;
  }*/

  /*@media(max-width: 1200px){
    gap: 24px;
  }*/
  /*@media(max-width: 1300px){
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
  }*/

  /*@media(max-width: 992px){
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
  }*/

  li{
    list-style: none;
    width: 100%;

    /*@media(max-width: 1300px){
      width: 100%;
      text-align: center;
    }*/

    a{
      color: $color-white !important;
      /*font-size: 16px;*/
      transition: all 0.3s;
      font-size: 18px;
      text-transform: uppercase;

      @media(max-width: 575px){
        font-size: 16px;
      }

      /*@media(max-width: 1430px){
        font-size: 14px;
      }*/

      /*@media(max-width: 1200px){
        font-size: 14px;
      }*/

      /*@media(max-width: 1300px){
        font-size: 16px;
      }*/

      &:hover{
        color: $color-light-blue !important;

        @media(max-width: 1024px){
          color: $color-white !important;
        }
      }
    }

    &.menu-item-has-children{
      position: relative;
      /*padding-right: 26px;*/

      /*@media(max-width: 1300px){
        padding-right: 0;
      }

      &:after{
        content: '';
        position: absolute;
        background-image: url("../img/ri_arrow-up-s-line.svg");
        background-size: 100% auto;
        width: 18px;
        height: 18px;
        right: 0;
        top: 50%;
        margin-top: -9px;
        transition: all 0.3s;

        @media(max-width: 1300px){
          display: none;
        }
      }*/

      .sub-menu{
        /*position: absolute;*/
        z-index: 10;
        padding: 16px 16px 0 16px;
        /*padding: 63px 16px 16px 16px;*/
        /*background-color: $color-white;*/
        margin: 0;
        /*border-radius: 4px;
        display: none;*/
        opacity: 1 !important;
        column-count: 2;
        column-gap: 24px;

        @media(max-width: 440px){
          column-count: 1;
        }


        /*@media(max-width: 1300px){
          position: relative;
          display: block;
          padding: 32px 0 0 0;
        }*/

        /*&:before{
          content: '';
          position: absolute;
          inset: 47px 0 0 0;
          border-radius: 4px;
          background-color: $color-white;
          z-index: 1;

          @media(max-width: 1300px){
            display: none;
          }
        }*/

        li{
          /*width: max-content;*/
          margin-bottom: 12px;
          position: relative;
          z-index: 2;

          /*@media(max-width: 1300px){
            text-align: center;
            width: 100%;
          }*/

          &:last-child{
            margin-bottom: 0;
          }

          a{
            /*color: $color-black !important;*/
            color: $color-white !important;
            transition: all 0.3s;
            text-transform: unset;
            /*font-size: 16px;*/
            font-size: 18px;
            opacity: 1 !important;

            &:hover{
              color: $color-light-blue !important;

              @media(max-width: 1024px){
                color: $color-white !important;
              }
            }

            @media(max-width: 575px){
              font-size: 16px;
            }

            /*@media(max-width: 1300px){
              color: $color-white !important;
            }*/
            
            /*@media(max-width: 440px){
              font-size: 14px;
            }*/

            /*&:hover{
              color: $color-light-blue !important;

              @media(max-width: 1024px){
                color: $color-white !important;
              }
            }*/
          }
        }
      }

      /*&:hover{
        a{
          opacity: 0.5;
        }

        &:after{
          opacity: 0.5;
          transform: rotate(-180deg);
        }
        .sub-menu{
          display: block;
        }
      }*/
    }
  }
}

/*--- lines-wrapper ---*/

.lines-wrapper{
  /*display: flex;*/
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  /*left: 134px;
  right: 134px;*/
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  justify-content: space-between;

  @media(min-width: 2000px){
    width: 1442px
  }

  @media(max-width: 2000px){
   width: 1205px
  }

  @media(max-width: 1440px){
    transform: translateX(0);
    width: auto;
    left: 134px;
    right: 134px;
  }

  @media(max-width: 1200px){
    left: 70px;
    right: 70px;
  }

  @media(max-width: 767px){
    left: 33px;
    right: 33px;
  }

  @media(max-width: 575px){
    left: 10px;
    right: 10px;
  }

  .line{
    width: 1px;
    height: 100%;
    background: rgba(251, 251, 251, 0.1);
  }
}

/*--- button ---*/

.button{
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  font-family: $f-med;

  &.blue-btn{
    padding: 20px 105px;
    border-radius: 5px;
    background-color: $color-light-blue !important;
    text-transform: uppercase;
    color: $color-white;
    font-size: 16px;
    transition: all 0.3s;

    @media(max-width: 992px){
      padding: 20px 95px;
    }

    @media(max-width: 767px){
      padding: 20px 75px;
    }

    @media(max-width: 575px){
      padding: 15px 50px;
    }

    @media(max-width: 440px){
      padding: 15px 30px;
      font-size: 14px;
    }

    &:hover{
      background-color: $color-dark-blue !important;
    }

    &.form-accepted{
      pointer-events: none !important;
    }
  }

  &.text-btn-white{
    color: $color-white !important;

    &:hover{
      color: $color-light-blue !important;
    }
  }

  &.text-btn-blue{
    color: $color-light-blue !important;

    &:hover{
      color: $color-white !important;
    }
  }


}

/*--- Slider controls ---*/

.controls-wrapper{
  display: flex;

  .control{
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 58px;

    @media(max-width: 440px){
      width: 48px;
    }

    svg{
      width: 100%;
      height: auto;
      transition: all 0.2s;
    }

    &:hover{
      svg{
        path{
          stroke: $color-white;
        }
      }
    }
  }
}

/*--- blur-element ---*/

.blur-element{
  backdrop-filter: blur(10px);
  position: absolute;
  background-color: rgba(251, 251, 251, 0.2);

}
/*--- block-title ---*/

.block-title {
  text-transform: uppercase;
  /*font-family: $f-bold;*/
  /*font-family: $f-med;*/
  font-family: $f-BeauSP-Bbook;
  line-height: 1.2;

  &.big-title{
    font-size: 42px;

    @media(max-width: 1320px){
      font-size: 40px;
    }

    @media(max-width: 767px){
      font-size: 38px;
    }

    @media(max-width: 575px){
      font-size: 32px;
    }

    @media(max-width: 440px){
      font-size: 6.7vw;
    }
  }

  &.small-title{
    font-size: 32px;

    @media(max-width: 992px){
      font-size: 30px;
    }

    @media(max-width: 575px){
      font-size: 28px;
    }

    @media(max-width: 440px){
      font-size: 6vw;
    }


  }

}

/*--- indent ---*/

.indent-top-big{
  padding-top: 180px;

  @media(max-width: 1200px){
    padding-top: 150px;
  }

  @media(max-width: 992px){
    padding-top: 120px;
  }

  @media(max-width: 767px){
    padding-top: 90px;
  }

  @media(max-width: 575px){
    padding-top: 60px;
  }
}

.indent-bottom-big{
  padding-bottom: 180px;

  @media(max-width: 1200px){
    padding-bottom: 150px;
  }

  @media(max-width: 992px){
    padding-bottom: 120px;
  }

  @media(max-width: 767px){
    padding-bottom: 90px;
  }

  @media(max-width: 575px){
    padding-bottom: 60px;
  }
}

.indent-top-medium{
  padding-top: 120px;

  @media(max-width: 1200px){
    padding-top: 105px;
  }

  @media(max-width: 992px){
    padding-top: 90px;
  }

  @media(max-width: 767px){
    padding-top: 75px;
  }

  @media(max-width: 575px){
    padding-top: 60px;
  }

}

.indent-bottom-medium{
  padding-bottom: 120px;

  @media(max-width: 1200px){
    padding-bottom: 105px;
  }

  @media(max-width: 992px){
    padding-bottom: 90px;
  }

  @media(max-width: 767px){
    padding-bottom: 75px;
  }

  @media(max-width: 575px){
    padding-bottom: 60px;
  }
}

.indent-top-small{
  padding-top: 90px;

  @media(max-width: 1200px){
    padding-top: 80px;
  }

  @media(max-width: 992px){
    padding-top: 70px;
  }

  @media(max-width: 767px){
    padding-top: 60px;
  }

  @media(max-width: 575px){
    padding-top: 50px;
  }

  @media(max-width: 440px){
    padding-top: 40px;
  }
}

.indent-bottom-small{
  padding-bottom: 90px;

  @media(max-width: 1200px){
    padding-bottom: 80px;
  }

  @media(max-width: 992px){
    padding-bottom: 70px;
  }

  @media(max-width: 767px){
    padding-bottom: 60px;
  }

  @media(max-width: 575px){
    padding-bottom: 50px;
  }

  @media(max-width: 440px){
    padding-bottom: 40px;
  }
}

/*--- social-wrapper ---*/

.social-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 8px;

  .social-row{
    width: 100%;
    display: flex;

    a{
      position: relative;
      display: block;
      margin-right: 28px;
      text-transform: uppercase;
      font-size: 16px;
      transition: all 0.3s;
      color: $color-white !important;

      @media(max-width: 992px){
        font-size: 14px !important;
        margin-right: 20px;
      }

      &:after{
        content: '';
        width: 12px;
        height: 2px;
        background: $color-white;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        right: -20px;

        @media(max-width: 992px){
          width: 10px;
          right: -16px;
        }
      }

      &:hover{
        color: $color-light-blue !important;
      }

      &:last-child{
        margin-right: 0;

        &:after{
          display: none;
        }
      }
    }
  }
}

/*--- Calculator ---*/

.calculator-btn{
  position: fixed;
  z-index: 14;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  padding: 24px 12px;
  border-radius: 4px;
  background-color: $color-light-blue;
  color: $color-white;
  font-size: 14px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: $f-med;
  cursor: pointer;
  transition: all 0.3s;
  line-height: 1;


  &.visible{
    transform: translateY(-50%) translateX(0);
  }

}

/*--- calculator-type-1 ---*/

.calculator-type-1{
  position: fixed;
  z-index: 14;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  padding: 8px;
  border-radius: 0 4px 4px 0;
  background-color: $color-light-blue;
  cursor: pointer;
  transition: all 0.3s;

  svg{
    path{
      fill: $color-white;
    }
  }

  &.visible{
    transform: translateY(-50%) translateX(0);
  }

}

/*--- form ---*/

form{
  .form-group{
    height: 50px;
    margin-bottom: 16px;

    &:last-child{
      margin-bottom: 24px;
    }

    .form-control{
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $color-white;
      box-shadow: none;
      transition: all 0.3s;
      background: rgba(0,0,0,0);
      color: $color-white;
      padding-left: 20px;

      ::-webkit-input-placeholder {
        color: $color-white;
      }
      :-moz-placeholder {
        color: $color-white;
      }
      ::-moz-placeholder {
        color: $color-white;
      }
      :-ms-input-placeholder {
        color: $color-white;
      }
    }
  }
}

.intl-tel-input{
  width: 100%;
  height: 100%;

  .flag-container{
    .country-list{
      width: 400px !important;
      color: $color-black !important;

      @media(max-width: 2000px){
        width: 344px !important;
      }

      @media(max-width: 1200px){
        width: 300px !important;
        font-size: 16px;
      }
    }
  }

  &.iti-container{
    .country-list{
      color: $color-black !important;

      @media(max-width: 575px){
        font-size: 16px;
      }
    }
  }
}

/*--- backgroud image ---*/

@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/*--- modal reset ---*/

.modal{
  .modal-dialog{
    margin: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.3s;
          outline: none !important;
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

/*--- Basic animation ---*/

.first-up,
.second-up,
.third-up{
  opacity: 0 !important;
  transform: translateY( 30px) !important;
  transition: all 0.3s !important;
}

.animate{
  opacity: 1 !important;
  transform: translateY(0) !important;
}
