.single-post-heading{
  padding-top: 200px;
  position: relative;

  @media(max-width: 575px){
    padding-top: 150px;
  }

  .bg-pic{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1410px;
    height: auto;
    transform: translateX(-50%) translateY(-25%);
    z-index: 1;

    @media(max-width: 2000px){
      width: 70vw;
    }
  }

  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 90vw;
    height: 100vh;
    border-radius: 1000px;
    background: radial-gradient(
            circle at 50% 50%,
            rgba($color-dark-blue, 0.85) 0%,
            rgba($color-dark-blue, 0.65) 30%,
            rgba($color-dark-blue, 0.55) 55%,
            rgba($color-dark-blue, 0) 80%
    );
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(90px);
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .block-title{
    margin-bottom: 60px;

    @media(max-width: 992px){
      margin-bottom: 50px;
    }

    @media(max-width: 575px){
      margin-bottom: 40px;
    }
  }

  .run-rows-wrapper{
    position: relative;
    z-index: 3;

    .run-row{
      height: auto;
      padding: 16px 0;
      position: relative;
      /*transform-origin: left;*/
      width: calc(100% + 20px);
      overflow: hidden;
      text-align: center;

      @media(max-width: 992px){
        padding: 10px 0;
      }

      .js-marquee{
        font-size: 26px;

        @media(max-width: 2000px){
          font-size: 24px;
        }

        @media(max-width: 1200px){
          font-size: 22px;
        }

        @media(max-width: 992px){
          font-size: 20px;
        }

        @media(max-width: 575px){
          font-size: 16px;
        }
      }

      &.first-row{
        background-color: $color-dark-blue;
        z-index: 1;
        transform: rotate(3deg) translateX(-10px);
        margin-bottom: 32px;

        @media(max-width: 1200px){
          margin-bottom: 0;
        }
      }

      &.second-row{
        background-color: $color-light-blue;
        z-index: 2;
        transform: rotate(-3deg) translateX(-10px);
      }
    }
  }

  .post-image{
    margin-top: 50px;
    margin-bottom: 16px;

    @media(max-width: 992px){
      margin-top: 40px;
    }

    img{
      width: 100%;
      height: auto;
    }
  }

  .excerpt{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }
  }
}

/*--- block-post-content ---*/

.block-post-content{
  position: relative;

  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 1050px;
    height: 770px;
    border-radius: 1000px;
    background: radial-gradient(
            circle at 50% 50%,
            rgba($color-dark-blue, 0.85) 0%,
            rgba($color-dark-blue, 0.65) 30%,
            rgba($color-dark-blue, 0.55) 55%,
            rgba($color-dark-blue, 0) 80%
    );
    top: 0;
    left: 0;
    transform: translateY(-50%) translateX(-30%);
    filter: blur(90px);
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  h3{
    text-transform: uppercase;
    font-size: 32px;
    font-family: $f-med;
    line-height: 1.2;
    margin-bottom: 16px;
    width: 100%;

    @media(max-width: 992px){
      font-size: 30px;
    }

    @media(max-width: 767px){
      font-size: 28px;
    }

    @media(max-width: 575px){
      font-size: 26px;
    }

    @media(max-width: 440px){
      font-size: 24px;
    }
  }

  .wp-block-image{
    margin: 16px;
  }

  .post-text-part,
  .post-media-part{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }

    p{
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    ul{
      margin: 0 0 16px 0;
      padding: 0;
      row-gap: 8px;
      display: grid;

      li{
        list-style: none;
        padding-left: 44px;
        background-repeat: no-repeat;
        background-position: top left;
        background-image: url("../img/arrow.svg");

        @media(max-width: 440px){
          padding-left: 30px;
          background-size: 18px auto;
        }
      }
    }
  }

  .post-text-part{
    ul{
      column-count: 2;
      column-gap: 32px;
      display: block;

      @media(max-width: 767px){
        column-count: 1;
      }

      li{
        margin-bottom: 8px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .post-media-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .pic-wrapper{
      width: calc(50% - 16px);

      @media(max-width: 767px){
        width: 100%;
        margin-bottom: 16px;
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    .text-wrapper{
      width: calc(50% - 16px);

      @media(max-width: 767px){
        width: 100%;
      }
    }

  }
}