.block-representation{
  position: relative;

  .light{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 82.84vw;
    transform: translateY(-30%);
   /* transform: translateX(-40%);*/
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .image-text{
    /*font-family: $f-med;*/
    font-family: $f-BeauSP-b;
    /*margin-bottom: 60px;*/
    margin-bottom: 0;
    font-size: 388px;
    text-align: center;
    text-transform: uppercase;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 3;
    /*line-height: 0.8;*/
    line-height: 1;

    @media(max-width: 2000px){
      font-size: 310px;
    }

    @media(max-width: 1430px){
      font-size: 21vw;
    }

    @media(max-width: 575px){
      margin-bottom: 20px;
    }
  }

  .block-title{
    margin-bottom: 0;
    font-size: 70px;
    margin-top: -30px;

    @media(max-width: 2000px){
      font-size: 64px;
    }

    @media(max-width: 1360px){
      width: 100%;
    }

    @media(max-width: 992px){
      font-size: 58px;
      margin-top: 0;
    }

    @media(max-width: 767px){
      font-size: 48px;
    }

    @media(max-width: 575px){
      font-size: 9vw;
    }

    @media(max-width: 440px){
      font-size: 8vw;
    }
  }

  .text{
    text-transform: uppercase;
    margin-top: 24px;
    text-transform: uppercase;
    /*font-size: clamp(22px, 1.56vw, 39px);
    width: 70%;*/
    font-size: 34px;
    max-width: 740px;

    @media(max-width: 2000px){
      font-size: 32px;
    }

    @media(max-width: 767px){
      font-size: 30px;
    }

    @media(max-width: 660px){
      width: 90%;
      font-size: 4.2vw;
    }

    @media(max-width: 440px){
      width: 100%;
      font-size: 18px;
    }

    p{
      margin-bottom: 8px;

      @media(max-width: 575px){
        br{
          display: none;
        }
      }

      &:last-child{
        margin-bottom: 0;
      }


    }
  }

  .pic-wrapper{
    margin-top: 40px;

    @media(max-width: 440px){
      margin-top: 32px;
    }

    img{
      width: 100%;
      height: auto;
    }
  }
}