.container-call-to-acton{
  position: relative;
  z-index: 5;

  &:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) skewY(-20deg);
    width: 100vw;
    height: 475px;
    background-color: $color-dark-blue;
    filter: blur(130px);
    z-index: 1;
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .row{
    align-items: center;
  }

  .content{
    .inner{
      display: flex;
      border-radius: 4px;
      border: 1px solid rgba(6,127,239,.5);
      background: $bg-blue-gradient;
      backdrop-filter: blur(42px);
      overflow: hidden;
      justify-content: space-between;

      @media(max-width: 992px){
        flex-wrap: wrap;
      }

      .text-content{
        padding: 60px 0 60px 40px;

        @media(max-width: 1440px){
          padding: 50px 0 50px 30px;
        }

        @media(max-width: 1200px){
          padding: 40px 0 40px 20px;
        }

        @media(max-width: 992px){
          width: 100%;
          order: 2;
          padding: 30px;
        }

        @media(max-width: 440px){
          padding: 24px;
        }
      }

      .pic-wrapper{
        position: relative;
        width: 460px;

        @media(max-width: 2000px){
          width: 450px;
        }

        @media(max-width: 1440px){
          width: 390px;
        }

        @media(max-width: 1200px){
          width: 340px;
        }

        @media(max-width: 992px){
          width: 60%;
          order: 1;
          margin-left: auto;
        }

        @media(max-width: 767px){
          width: 80%;
        }

        @media(max-width: 440px){
          width: 100%;
        }

        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: top left;
          position: absolute;
          inset: 0;

          @media(max-width: 992px){
            position: relative;

          }
        }
      }
    }

  }

  .block-title{
    margin-bottom: 16px;
  }

  .text{
    margin-bottom: 32px;

    p{
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }

    }
  }

  &.animation-type{

    &:before{
      display: none;
    }
    .content{
      .inner{
        .text-content{
          width: 655px;

          @media(max-width: 1440px){
            width: 580px;
          }

          @media(max-width: 992px){
            width: 100%;
          }
        }

        .pic-wrapper{
          width: 360px;
          margin-right: 40px;

          @media(max-width: 1440px){
            width: calc(100% - 640px);
            margin-right: 30px;
          }

          @media(max-width: 992px){
            width: 360px;
          }

          @media(max-width: 440px){
            width: calc(100% - 60px);
          }

          img{
            position: relative;
            width: 100%;
            height: auto;
            object-fit: unset;
            transition: all 2s;
            transform: translateY(-80px);
          }
        }
      }
    }
  }

  &.animation-type.visible{
    .content{
      .inner{
        .pic-wrapper{
          img{
            transform: translateY(0);
          }
        }
      }
    }
  }

}