.reviews{
  position: relative;

  .container-fluid{
    position: relative;
    z-index: 2;
  }

  .block-title{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }
  }

  &__slider{
    margin-bottom: 40px;

    .slick-track{
      display: flex;
    }

    .slide{
      margin: 0 16px;
      background: $bg-blue-gradient;
      backdrop-filter: blur(42px);
      padding: 32px;
      height: auto;

      @media(max-width: 992px){
        padding: 24px;
      }

      @media(max-width: 440px){
        padding: 16px;
      }

      .info{
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .avatar{
          width: 64px;
          height: 64px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 16px;

          img{
            width: 100%;
            height: auto;
          }
        }

        .name-position{
          width: calc(100% - 80px);

          .name{
            margin-bottom: 0;

            @media(max-width: 767px){
              font-size: 16px;
            }
          }

          .position{
            margin-bottom: 0;
            margin-top: 8px;
            font-family: $f-light;
            font-size: 16px;

            @media(max-width: 767px){
              font-size: 14px;
            }
          }
        }
      }

      .text-review-wrapper{
        .text{
          margin-bottom: 16px;
          font-size: 22px;
          /*font-size: clamp(16px, 1.25vw, 24px);*/

          @media(max-width: 2000px){
            font-size: 18px;
          }

          @media(max-width: 1440px){
            font-size: 16px;
          }

          p:last-child{
            margin-bottom: 0;
          }
        }

        .button{
          /*font-size: clamp(16px, 1.25vw, 24px);*/

          font-size: 22px;
          /*font-size: clamp(16px, 1.25vw, 24px);*/

          @media(max-width: 2000px){
            font-size: 18px;
          }

          @media(max-width: 1440px){
            font-size: 16px;
          }

        }
      }

      .video-review{
        position: relative;

        img{
          width: 100%;
          height: auto;
          position: relative;
          z-index: 1;
          border-radius: 4px;
        }

        .play{
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 36px;

          svg{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .controls-wrapper{
    justify-content: center;
    gap: 32px;
  }
}