.block-problem-solving{
  position: relative;
  z-index: 1;

  .light{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;

    img{
      width: 100%;
      height: auto;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 2;
  }

  .block-title{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }
  }

  .solving-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 0;

    .solving{
      list-style: none;
      width: calc(50% - 16px);
      border-radius: 10px;
      padding: 32px;
      border: 1px solid rgba(6, 127, 239, 0.5);
      background: rgba(20, 20, 20, 0.1);
      overflow: hidden;
      position: relative;
      backdrop-filter: blur(10px);

      &:before{
        content: '';
        inset: 1px;
        position: absolute;
        z-index: 1;
        background: $bg-blue-gradient;
      }

      @media(max-width: 1024px){
        padding: 24px;
      }

      @media(max-width: 660px){
        width: 100%;
      }

      .solving-heading{
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        gap: 32px;
        position: relative;
        z-index: 2;

        @media(max-width: 1024px){
          gap: 24px;
          flex-wrap: wrap;
          justify-content: center;
        }


        .icon{
          width: 120px;

          @media(max-width: 1360px){
            width: 100px;
          }

          @media(max-width: 440px){
            width: 80px;
          }

          img{
            width: 100%;
            height: auto;
          }
        }

        .name{
          text-transform: uppercase;
          line-height: 1.2;
          margin-bottom: 0;
          /*font-size: clamp(22px, 1.56vw, 30px);*/
          font-size: 26px;
          width: calc(100% - 152px);

          @media(max-width: 2000px){
            font-size: 24px;
          }

          @media(max-width: 1360px){
            width: calc(100% - 132px);
            font-size: 22px;
          }

          @media(max-width: 1024px){
            width: 100%;
            text-align: center;
          }

          @media(max-width: 440px){
            font-size: 20px;
          }
        }

      }

      .solving-list{
        padding: 0;
        margin: 0;
        gap: 8px;
        position: relative;
        z-index: 2;

        li{
          list-style: none;
          background-image: url("../img/arrow-white.svg");
          background-repeat: no-repeat;
          background-size: 24px auto;
          background-position: top left;
          padding-left: 44px;

          @media(max-width: 1024px){
            padding-left: 32px;
          }

          @media(max-width: 440px){
            background-size: 18px auto;
            padding-left: 26px;
          }

          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}