.block-our-goals{
  position: relative;

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .goals-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 0;

    .goal{
      list-style: none;
      width: calc(50% - 16px);
      border-radius: 10px;
      padding: 32px;
      border: 1px solid rgba(6, 127, 239, 0.5);
      background: rgba(20, 20, 20, 0.8);
      overflow: hidden;
      position: relative;
      backdrop-filter: blur(10px);

      &:before{
        content: '';
        inset: 1px;
        position: absolute;
        z-index: 1;
        background: $bg-blue-gradient;
      }

      @media(max-width: 1024px){
        padding: 24px;
      }

      @media(max-width: 660px){
        width: 100%;
      }

      .name{
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 16px;
        /*font-size: clamp(32px, 1.875vw, 36px);*/
        font-size: 34px;
        position: relative;
        z-index: 2;

        @media(max-width: 2000px){
          font-size: 32px;
        }

        @media(max-width: 1200px){
          font-size: 30px;
        }

        @media(max-width: 992px){
          font-size: 28px;
        }

        @media(max-width: 767px){
          font-size: 26px;
        }

        @media(max-width: 575px){
          font-size: 24px;
        }

        @media(max-width: 440px){
          font-size: 22px;
        }
      }

      .text{
        position: relative;
        z-index: 2;

        p{
          margin-bottom: 16px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.our-goals-marque-wrapper{
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
  padding: 10px 0;
  background-color: $color-dark-blue;
  z-index: 3;
  text-transform: uppercase;
  font-size: 26px;

  @media(max-width: 2000px){
    font-size: 24px;
    margin-top: 0;
  }

  @media(max-width: 1200px){
    font-size: 22px;
  }


  .marque-list{
    flex-shrink: 0;
    display: flex;
    gap: 32px;
    counter-reset: marque-item;
    justify-content: space-around;
    min-width: 100%;
    /*width: 100%;*/
  }

  .marque-item{
    flex: 0 0 auto;
    counter-increment: marque-item;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition: all 0.1s ease-in-out;*/
    transition: all 0.3s;
    margin: 0;
  }

  img{
    width: 32px;
    height: auto;
  }

  .marquee-move {
    animation: scroll-goal 50s linear infinite;

  }

  @keyframes scroll-goal {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
}
