.our-advantages{
  position: relative;
  background: $bg-blue-gradient;
  padding-top: 60px;
  padding-bottom: 60px;

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .block-title{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }
  }

  .content{
    row-gap: 60px;

    @media(max-width: 992px){
      row-gap: 32px;
    }
  }

  &__item{
    .inner{
      padding: 32px;
      border-radius: 4px;
      border: solid 1px rgba(0,0,0,0);

      @media(max-width: 1360px){
        padding: 24px;
      }

      @media(max-width: 767px){
        padding: 18px;
      }

      @media(max-width: 575px){
        padding-bottom: 0;
      }

      @media(max-width: 440px){
        padding: 0;
      }

      .number{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        /*font-size: clamp(24px, 1.56vw, 30px);*/
        font-size: 28px;
        font-family: $f-flex;
        line-height: 1.2;

        @media(max-width: 2000px){
          font-size: 24px;
        }

        @media(max-width: 767px){
          margin-bottom: 24px;
          font-size: 20px;
        }

        svg{
          /*width: clamp(24px, 1.56vw, 30px);;*/
          width: 26px;
          height: auto;
          margin-right: 24px;

          @media(max-width: 2000px){
            width: 24px;
          }
        }
      }

      .name{
        /*font-size: clamp(22px, 1.56vw, 30px);;*/
        font-size: 26px;
        font-family: $f-flex;
        margin-bottom: 8px;
        line-height: 1.2;

        @media(max-width: 2000px){
          font-size: 22px;
        }

        @media(max-width: 767px){
          font-size: 20px;
        }
      }

      .descriptopn{
        /*font-family: clamp(18px, 1.25vw, 24px);*/
        font-size: 22px;

        @media(max-width: 2000px){
          font-size: 18px;
        }

        p:last-child{
          margin-bottom: 0;
        }
      }

    }

    &.image{
      transition: all 0.3s;

      .inner{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0;

        img{
          width: 35vw;
          max-width: 100vw;
          height: auto;

          @media(max-width: 992px){
            width: 80vw;
          }
        }
      }

      &.image-top{
        transition-delay: 1.5s;
        transform: translateX(100vw);

        @media(max-width: 992px){
          order: 1;
        }
        .inner{
          justify-content: flex-start;
        }
      }

      &.image-bottom{
        transition-delay: 2s;
        transform: translateX(-100vw);

        @media(max-width: 992px){
          display: none;
        }
        .inner{
          justify-content: flex-end;
        }
      }
    }

    &.text:hover{
      .inner{
        border-color: rgba(6, 127, 239, 0.5);
      }
    }
  }

  &.visible{

    .our-advantages__item.image.image-top{
      transform: translateX(0);
    }

    .our-advantages__item.image.image-bottom{
      transform: translateX(0);
    }
  }
}