.site-footer{
 /* background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;*/
  /*padding-bottom: 36.45vw;*/
  /*padding-bottom: 19vw;*/
  padding-bottom: 274px;
  position: relative;

  @media(max-width: 1200px){
    padding-bottom: 19vw;
  }

  .lines-wrapper{
    .line:nth-child(2){
      display: none;
    }
  }

  .bg-pic{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    img{
      width: 100%;
      height: auto;
    }
  }

  .light{
    width: 1430px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: translateX(-50%);

    img{
      width: 100%;
      height: auto;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .form-wrapper{
    margin-bottom: 42px;

    .inner{
      /*padding: clamp(60px, 4.15vw, 80px);*/
      padding: 80px;
      position: relative;
      display: flex;
      /*align-items: center;*/
      background: rgba(20, 20, 20, 0.8);
      backdrop-filter: blur(12px);
      justify-content: space-between;
      align-items: flex-end;

      @media(max-width: 2000px){
        padding: 60px;
      }

      @media(max-width: 1200px){
        padding: 32px;
        gap: 32px;
      }

      @media(max-width: 850px){
        flex-wrap: wrap;
        justify-content: center;
      }


      @media(max-width: 440px){
        padding: 24px;
      }

      &:before{
        content: '';
        position: absolute;
        inset: 0;
        background: $bg-blue-gradient;
        z-index: 1;
      }
    }

    form{
      position: relative;
      z-index: 2;

      @media(max-width: 850px){
        margin-bottom: 32px;
        width: 100%;
      }
    }

    .form-title{
      /*font-size: clamp(64px, 5vw, 96px);*/
      font-size: 70px;
      /*font-family: $f-med;*/
      font-family: $f-BeauSP-Bbook;
      line-height: 1.2;
      margin-bottom: 8px;

      @media(max-width: 2000px){
        font-size: 64px;
      }

      @media(max-width: 1200px){
        font-size: 58px;
      }

      @media(max-width: 992px){
        font-size: 50px;
      }

      @media(max-width: 850px){
        text-align: center;
      }

      @media(max-width: 440px){
        font-size: 42px;
      }
    }

    .form-call{
      /*font-size: clamp(24px, 1.56vw, 30px);*/
      font-size: 26px;
      margin-bottom: 42px;
      text-transform: uppercase;
      /*width: clamp(486px, 32.4vw, 622px);*/
      width: 486px;

      @media(max-width: 2000px){
        font-size: 24px;
      }

      @media(max-width: 1200px){
        font-size: 22px;
        width: 380px;
      }

      @media(max-width: 992px){
        font-size: 20px;
        width: 330px;
      }

      @media(max-width: 850px){
        text-align: center;
        margin: 0 auto 42px;
      }

      @media(max-width: 440px){
        width: 100%;
        font-size: 18px;
      }
    }

    .form-group{
      /*width: clamp(344px, 23.88vw, 459px);*/
      /*width: 400px;*/
      width: 100%;

      @media(max-width: 1350px){
        width: calc(100% - 32px);
      }

      @media(max-width: 1200px){
        width: 100%;
      }

      /*@media(max-width: 2000px){
        width: 344px;
      }

      @media(max-width: 1200px){
        width: 300px;
      }

      @media(max-width: 850px){
        margin-left: auto;
        margin-right: auto;
      }

      @media(max-width: 440px){
        width: 100%;
      }*/
    }

    .button{
      /*width: clamp(344px, 23.88vw, 459px);*/
      /*width: 400px;*/
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;

      @media(max-width: 1350px){
        width: calc(100% - 32px);
      }

      @media(max-width: 1200px){
        width: 100%;
      }

      /*@media(max-width: 2000px){
        width: 344px;
      }

      @media(max-width: 1200px){
        width: 300px;
      }

      @media(max-width: 850px){
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      @media(max-width: 440px){
        width: 100%;
      }*/
    }

    .contacts-wrapper{
      position: relative;
      z-index: 2;
      display: grid;
      gap: 32px;
      /*margin-right: 5.2vw;*/

      @media(max-width: 992px){
        margin-right: 0;
      }

      @media(max-width: 850px){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      @media(max-width: 670px){
        gap: 24px;
      }

      .menu-contacts{

        @media(max-width: 850px){
          width: calc(50% - 16px);
        }

        @media(max-width: 670px){
          width: 100%;
          text-align: center;
        }

        .contact-name{
          color: $color-gray;
          text-transform: uppercase;
          font-size: 18px;
          margin-bottom: 8px;

          @media(max-width: 767px){
            font-size: 16px;
          }

          @media(max-width: 575px){
            font-size: 14px;
          }

        }

        a,
        p{
          margin-bottom: 0;
          color: $color-white !important;
          font-size: 16px;
          display: block;

          @media(max-width: 767px){
            font-size: 14px;
          }

          /*@media(max-width: 575px){
            font-size: 12px;
          }*/

        }

        a{
          transition: all 0.3s;

          &:hover{
            color: $color-light-blue !important;
          }
        }

        .social-wrapper{
          justify-content: flex-start;

         .social-row{
           @media(max-width: 670px){
            justify-content: center;
           }
         }


        }

      }
    }

    .icon{
      position: absolute;
      width: 56px;
      height: 56px;
      top: 60px;
      right: 60px;

      @media(max-width: 1200px){
        top: 32px;
        right: 32px;
      }

      @media(max-width: 767px){
        display: none;
      }
    }
  }

}