.our-services{
  position: relative;
  z-index: 3;

  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 1050px;
    height: 770px;
    border-radius: 1000px;
    background: radial-gradient(
            circle at 50% 50%,
            rgba($color-dark-blue, 0.85) 0%,
            rgba($color-dark-blue, 0.65) 30%,
            rgba($color-dark-blue, 0.55) 55%,
            rgba($color-dark-blue, 0) 80%
    );
    top: -150px;
    right: 0;
    transform: translateX(340px);
    filter: blur(90px);
  }

  &:after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 1050px;
    height: 770px;
    border-radius: 1000px;
    background: radial-gradient(
            circle at 50% 50%,
            rgba($color-dark-blue, 0.85) 0%,
            rgba($color-dark-blue, 0.65) 30%,
            rgba($color-dark-blue, 0.55) 55%,
            rgba($color-dark-blue, 0) 80%
    );

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(90px);
  }

  .light{
    position: absolute;
    top: -150px;
    right: 0;
    z-index: 1;
    width: 952px;

    img{
      width: 100%;
      height: auto;
    }
  }

  .service-light{
    position: absolute;
    left: 0;
    z-index: 1;
    top: -300px;
    width: 904px;


    img {
      width: 100%;
      height: auto;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .block-title{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }
  }

  .content{
    gap: 32px;
  }

  .service-item{
    display: flex;
    gap: 32px;
    align-items: flex-start;

    @media(max-width: 767px){
      align-items: normal;
    }

    @media(max-width: 440px){
      flex-wrap: wrap;
      gap: 23px;
    }

    .name{
      width: calc(33.33% - 16px);
      text-transform: uppercase;
      margin-bottom: 0;
      /*font-size: clamp(24px, 1.56vw, 30px);*/
      font-size: 28px;

      @media(max-width: 2000px){
        font-size: 24px;
      }

      @media(max-width: 1200px){
        font-size: 22px;
      }

      @media(max-width: 992px){
        display: none;
        width: 100%;
      }

      a{
        color: $color-white !important;
      }
    }

    .pic-wrapper{
      width: calc(33.33% - 32px);
      border-radius: 4px;
      overflow: hidden;

      @media(max-width: 992px){
        width: calc(50% - 16px);
      }

      @media(max-width: 440px){
        width: 100%;
      }

      img{
        width: 100%;
        height: auto;

        @media(max-width: 767px){
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        @media(max-width: 440px){
          object-fit: unset;
          height: 100%;
        }
      }
    }

    .info{
      width: calc(33.33% - 16px);

      @media(max-width: 992px){
        width: calc(50% - 16px);
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .name{
        display: none;

        @media(max-width: 992px){
          display: block;
          margin-bottom: 32px;
        }

        @media(max-width: 767px){
          font-size: 20px;
          margin-bottom: 24px;
        }
      }

      .description{
        margin-bottom: 32px;
        /*font-size: clamp(18px, 1.25vw, 24px);*/
        font-size: 22px;

        @media(max-width: 2000px){
          font-size: 18px;
        }

        @media(max-width: 1200px){
          font-size: 16px;
        }

        @media(max-width: 767px){
          margin-bottom: 24px;
        }
      }

      .button{
        /*font-size: clamp(18px, 1.25vw, 24px);*/
        font-size: 22px;

        @media(max-width: 2000px){
          font-size: 18px;
        }

        @media(max-width: 1200px){
          font-size: 16px;
        }
      }
    }

    &:nth-child(even){
      @media(max-width: 992px){

        .pic-wrapper{
          order: 1;
        }

        .info{
          order: 0;
        }
      }

      @media(max-width: 440px){

        .pic-wrapper{
          order: 0;
        }

        .info{
          order: 1;
        }
      }
    }
  }

  .run-rows-wrapper{
    margin-top: 110px;
    position: relative;
    z-index: 3;

    @media(max-width: 1200px){
      margin-top: 100px;
    }

    @media(max-width: 992px){
      margin-top: 90px;
    }

    @media(max-width: 767px){
      margin-top: 80px;
    }

    @media(max-width: 575px){
      margin-top: 60px;
    }

    .marque-row{
      overflow: hidden;
      padding: 16px 0;
      transform-origin: center;

      @media(max-width: 992px){
        padding: 10px 0;
      }

      &.first-row{
        background-color: $color-dark-blue;
        z-index: 1;
        transform: rotate(3deg) translateY(50%);
      }

      &.second-row{
        background-color: $color-light-blue;
        z-index: 2;
        transform: rotate(-3deg) translateY(-50%);
      }
    }

    .marque-list{
      flex-shrink: 0;
      display: flex;
      gap: 32px;
      counter-reset: marque-item;
      justify-content: space-around;
      min-width: 100%;

      @media(max-width: 767px){
        min-width: 200%;
      }

      @media(max-width: 575px){
        min-width: 400%;
      }
    }

    .marquee-move-left {
      animation: scroll-left 40s linear infinite;

      @media(max-width: 767px){
        animation: scroll-left 30s linear infinite;
      }

      @media(max-width: 575px){
        animation: scroll-left 20s linear infinite;
      }

    }

    @keyframes scroll-left {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 20px));
      }
    }

    .marquee-move-right {
      animation: scroll-left 40s linear infinite;
      animation-direction: reverse;

      @media(max-width: 767px){
        animation: scroll-left 30s linear infinite;
        animation-direction: reverse;
      }

      @media(max-width: 575px){
        animation: scroll-left 20s linear infinite;
        animation-direction: reverse;
      }

    }

    @keyframes scroll-right {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 20px));
      }
    }

    .marque-item{
      flex: 0 0 auto;
      counter-increment: item;
      display: flex;
      justify-content: center;
      align-items: center;
      /*transition: all 0.1s ease-in-out;*/
      transition: all 0.3s;
      margin: 0;
      font-size: 26px;

      @media(max-width: 2000px){
        font-size: 24px;
      }

      @media(max-width: 1200px){
        font-size: 22px;
      }
    }

    img{
      width: 32px;
      height: auto;
    }

  }

}