/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: $color-white;
  font-size: 18px;
  line-height: 1.4;
  padding-right: 0 !important;
  background-color: $color-black;

  @media(max-width: 767px){
    font-size: 16px;
  }

  @media(max-width: 440px){
    font-size: 14px;
  }

  .modal.show {
    display: flex !important;
    height: 100%;
  }
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  /*overflow-x: hidden;*/
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

.page{
  margin: 0;
  padding: 0;
}

.fixedPosition {
  overflow: hidden !important;
}

svg{
  width: 100%;
  height: auto;
}

.main{
  flex-grow: 1;
}

/*--- Site header ---*/

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  transition: all 0.2s;
  background-color: rgba(20,20,20,0.1);
  padding: 25px 0;

  &.fixed-header{
    transform: translateY(-110%);
    background-color: rgba(20,20,20,0.8);
    backdrop-filter: blur(8px);

    .main-menu{
      li{
        a{
          color: $color-white !important;
        }
      }
    }

    .lang-wrapper{
      .page-lang{
        .lang-name{
          color: $color-white;
        }
      }
    }
  }

  &.fixed-header-visible{
    transform: translateY(0);
  }
}

/*--- Menu button ---*/

.menu-btn{
  display: none;
  background-color: rgba(0,0,0,0);
  padding: 8px;
  margin: 0;
  border: 1px solid rgba(251,251,251,0.2);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  z-index: 15;
  
  @media(max-width: 992px){
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  span{
    transition: all 0.3s;
    height: 2px;
    display: block;
    background: $color-white;
    border-radius: 2px;
  }

  &.close-type{
    span{
      width: 100%;
      transform-origin: left;
    }

    &.active{
      span{
        background: $color-light-blue;

        &:nth-child(1){
          transform: rotate(45deg) translateY(0px) translateX(3px);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg) translateY(0px) translateX(3px);
        }
      }
    }
  }
}

/*--- Header navigation ---*/

.header-navigation{
  @media(max-width: 992px){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-color: $color-dark-blue;
    z-index: 11;
    padding: 90px 15px 40px 15px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;
    transform: translateX(-110%);
    overflow: auto;
    align-items: flex-start;
    align-content: stretch;
  }

  &.open-menu{
    transform: translateX(0);
  }
}

.main-menu{
  display: flex;
  padding: 0;
  margin: 0;
  gap: 32px;

  @media(max-width: 1200px){
    gap: 24px;
  }

  @media(max-width: 992px){
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
  }

  li{
    list-style: none;

    @media(max-width: 992px){
      width: 100%;
      text-align: center;
    }

    a{
      color: $color-white !important;
      font-size: 16px;
      text-transform: uppercase;

      @media(max-width: 1200px){
        font-size: 14px;
      }

      @media(max-width: 992px){
        font-size: 16px;
      }
    }
  }
}

/*--- lines-wrapper ---*/

.lines-wrapper{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 134px;
  right: 134px;
  z-index: 2;
  justify-content: space-between;

  @media(max-width: 1200px){
    left: 70px;
    right: 70px;
  }

  @media(max-width: 767px){
    left: 33px;
    right: 33px;
  }

  @media(max-width: 575px){
    left: 10px;
    right: 10px;
  }

  .line{
    width: 2px;
    height: 100%;
    background: rgba(251, 251, 251, 0.1);
  }
}

/*--- button ---*/

.button{
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  font-family: $f-med;

  &.blue-btn{
    padding: 20px 105px;
    border-radius: 5px;
    background-color: $color-light-blue;
    text-transform: uppercase;
    color: $color-white;
    font-size: 16px;

    @media(max-width: 992px){
      padding: 20px 95px;
    }

    @media(max-width: 767px){
      padding: 20px 75px;
    }

    @media(max-width: 575px){
      padding: 15px 50px;
    }

    @media(max-width: 440px){
      padding: 15px 30px;
    }
  }

  &.yellow-btn{
    padding: 16px 32px;
    background-color: $color-yellow;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.4;
    color: $color-black !important;

  }

  &.arrow-btn{
    font-size: 18px;
    color: $color-dark-blue !important;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s;

    svg{
      width: 24px;
      height: auto;
      margin-left: 8px;

      path{
        stroke: $color-dark-blue;
        transition: all 0.2s;
      }
    }
    
    &:hover{
      color: $color-light-blue !important;
      
      svg{
        path{
          stroke: $color-light-blue;
        }
      }
    }
  }

  &:hover{

  }
}

/*--- Slider controls ---*/

.controls-wrapper{
  display: flex;

  .control{
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 58px;

    @media(max-width: 440px){
      width: 48px;
    }

    svg{
      width: 100%;
      height: auto;
      transition: all 0.2s;
    }

    &:hover{
      svg{
        path{
          stroke: $color-white;
        }
      }
    }
  }
}

/*--- blur-element ---*/

.blur-element{
  backdrop-filter: blur(10px);
  position: absolute;
  background-color: rgba(251, 251, 251, 0.2);

}
/*--- block-title ---*/

.block-title {
  text-transform: uppercase;
  font-family: $f-bold;
  line-height: 1.4;

  &.big-title{
    font-size: 48px;

    @media(max-width: 1320px){
      font-size: 44px;
    }

    @media(max-width: 767px){
      font-size: 40px;
    }

    @media(max-width: 575px){
      font-size: 36px;
    }

    @media(max-width: 440px){
      font-size: 6.7vw;
    }
  }

  &.small-title{
    font-size: 32px;

    @media(max-width: 992px){
      font-size: 30px;
    }

    @media(max-width: 575px){
      font-size: 28px;
    }

    @media(max-width: 440px){
      font-size: 6vw;
    }


  }

}

/*--- indent ---*/

.indent-top-big{
  padding-top: 180px;

  @media(max-width: 1200px){
    padding-top: 150px;
  }

  @media(max-width: 992px){
    padding-top: 120px;
  }

  @media(max-width: 767px){
    padding-top: 90px;
  }

  @media(max-width: 575px){
    padding-top: 60px;
  }
}

.indent-bottom-big{
  padding-bottom: 180px;

  @media(max-width: 1200px){
    padding-bottom: 150px;
  }

  @media(max-width: 992px){
    padding-bottom: 120px;
  }

  @media(max-width: 767px){
    padding-bottom: 90px;
  }

  @media(max-width: 575px){
    padding-bottom: 60px;
  }
}

.indent-top-medium{
  padding-top: 120px;

  @media(max-width: 1200px){
    padding-top: 105px;
  }

  @media(max-width: 992px){
    padding-top: 90px;
  }

  @media(max-width: 767px){
    padding-top: 75px;
  }

  @media(max-width: 575px){
    padding-top: 60px;
  }

}

.indent-bottom-medium{
  padding-bottom: 120px;

  @media(max-width: 1200px){
    padding-bottom: 105px;
  }

  @media(max-width: 992px){
    padding-bottom: 90px;
  }

  @media(max-width: 767px){
    padding-bottom: 75px;
  }

  @media(max-width: 575px){
    padding-bottom: 60px;
  }
}

.indent-top-small{
  padding-top: 90px;

  @media(max-width: 1200px){
    padding-top: 80px;
  }

  @media(max-width: 992px){
    padding-top: 70px;
  }

  @media(max-width: 767px){
    padding-top: 60px;
  }

  @media(max-width: 575px){
    padding-top: 50px;
  }

  @media(max-width: 440px){
    padding-top: 40px;
  }
}

.indent-bottom-small{
  padding-bottom: 90px;

  @media(max-width: 1200px){
    padding-bottom: 80px;
  }

  @media(max-width: 992px){
    padding-bottom: 70px;
  }

  @media(max-width: 767px){
    padding-bottom: 60px;
  }

  @media(max-width: 575px){
    padding-bottom: 50px;
  }

  @media(max-width: 440px){
    padding-bottom: 40px;
  }
}

/*--- social-wrapper ---*/

.social-wrapper{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  li{
    list-style: none;
    position: relative;
    margin-right: 28px;

    &:after{
      content: '';
      width: 12px;
      height: 2px;
      background: $color-white;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: -20px;
    }
    
    a{
      text-transform: uppercase;
      font-size: 16px;
      transition: all 0.3s;
    }

    &:first-child{
      a{
        color: $color-white !important;

        &:hover{
          color: $color-light-blue !important;
        }
      }
    }

    &:last-child{
      a{
        color: $color-light-blue !important;

        &:hover{
          color: $color-white !important;
        }
      }
      margin-right: 0;

      &:after{
        display: none;
      }
    }
  }

}

/*--- form ---*/

form{
  .form-group{
    height: 50px;
    margin-bottom: 16px;

    &:last-child{
      margin-bottom: 24px;
    }

    .form-control{
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $color-white;
      box-shadow: none;
      transition: all 0.3s;
      background: rgba(0,0,0,0);
      color: $color-white;
      padding-left: 20px;

      ::-webkit-input-placeholder {
        color: $color-white;
      }
      :-moz-placeholder {
        color: $color-white;
      }
      ::-moz-placeholder {
        color: $color-white;
      }
      :-ms-input-placeholder {
        color: $color-white;
      }
    }
  }
}


/*--- backgroud image ---*/

@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/*--- modal reset ---*/

.modal{
  .modal-dialog{
    margin: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.3s;
          outline: none !important;
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

/*--- Basic animation ---*/

.first-up,
.second-up,
.third-up{
  opacity: 0 !important;
  transform: translateY( 30px) !important;
  transition: all 0.3s !important;
}

.animate{
  opacity: 1 !important;
  transform: translateY(0) !important;
}
