
.single-post{
  .wrapper{
    overflow: unset;
  }

  .site-footer{
    .light{
      top: auto;
      bottom: 0;
    }
  }
}


.single-post-heading{
  padding-top: 200px;
  position: relative;

  @media(max-width: 575px){
    padding-top: 150px;
  }

  .bg-pic{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1410px;
    height: auto;
    transform: translateX(-50%) translateY(-25%);
    z-index: 1;

    @media(max-width: 2000px){
      width: 70vw;
    }
  }

  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 90vw;
    height: 100vh;
    border-radius: 1000px;
    background: radial-gradient(
            circle at 50% 50%,
            rgba($color-dark-blue, 0.85) 0%,
            rgba($color-dark-blue, 0.65) 30%,
            rgba($color-dark-blue, 0.55) 55%,
            rgba($color-dark-blue, 0) 80%
    );
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(90px);
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .run-rows-wrapper{
    position: relative;
    z-index: 3;

    .run-row{
      height: auto;
      padding: 16px 0;
      position: relative;
      /*transform-origin: left;*/
      width: calc(100% + 20px);
      overflow: hidden;
      text-align: center;

      @media(max-width: 992px){
        padding: 10px 0;
      }

      .js-marquee{
        font-size: 26px;

        @media(max-width: 2000px){
          font-size: 24px;
        }

        @media(max-width: 1200px){
          font-size: 22px;
        }

        @media(max-width: 992px){
          font-size: 20px;
        }

        @media(max-width: 575px){
          font-size: 16px;
        }
      }

      &.first-row{
        background-color: $color-dark-blue;
        z-index: 1;
        transform: rotate(3deg) translateX(-10px);
        margin-bottom: 32px;

        @media(max-width: 1200px){
          margin-bottom: 0;
        }
      }

      &.second-row{
        background-color: $color-light-blue;
        z-index: 2;
        transform: rotate(-3deg) translateX(-10px);
      }
    }
  }

  .excerpt{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }
  }
}

/*--- block-post-content ---*/

.block-post-content{
  position: relative;

  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 1050px;
    height: 770px;
    border-radius: 1000px;
    background: radial-gradient(
            circle at 50% 50%,
            rgba($color-dark-blue, 0.85) 0%,
            rgba($color-dark-blue, 0.65) 30%,
            rgba($color-dark-blue, 0.55) 55%,
            rgba($color-dark-blue, 0) 80%
    );
    top: 0;
    left: 0;
    transform: translateY(-50%) translateX(-30%);
    filter: blur(90px);
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  /*.row{
    position: relative;
    align-items: flex-start;
  }*/

  .post-hero{
    .block-title{
      /*margin-bottom: 60px;*/
      margin-bottom: 24px;
      text-transform: unset;

      @media(max-width: 767px){
        margin-bottom: 24px;
      }
    }

    .post-info-wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      justify-content: space-between;
      gap: 24px;

      @media(max-width: 767px){
        margin-bottom: 24px;
      }

      p{
        margin-bottom: 0;
        font-size: 14px;
        color: $color-gray;

        @media(max-width: 440px){
          font-size: 12px;
          margin-right: 16px;
        }

        &.reading-time{
          display: flex;
          align-items: center;

          svg{
            width: 16px;
            height: auto;
            margin-right: 8px;

            path{
              fill: $color-gray;
            }
          }
        }
      }
    }

    .post-image{
      /*margin-top: 50px;*/
      margin-bottom: 16px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .post-navigation{
    position: relative;

    @media(max-width: 992px){
      display: none;
    }

    .inner{
      padding: 32px;
      background: rgba(20, 20, 20, 0.8);
      backdrop-filter: blur(12px);
      /*position: relative;*/
      position: sticky;
      top: 20px;
      width: 354px;
      transition: all 0.3s;

      @media(max-width: 1380px){
        width: 25vw;
        padding: 24px;
      }

      &.sticky-nav-header{
        top: 140px;
      }

      &:before{
        content: '';
        position: absolute;
        inset: 0;
        background: $bg-blue-gradient;
        z-index: 1;
        opacity: 0.6;
      }

      .navigation-title{
        position: relative;
        z-index: 2;
        font-family: $f-BeauSP-Bbook;
        line-height: 1.2;
        font-size: 20px;
        text-transform: unset;
        margin-bottom: 20px
      }

      .post-nav-list{
        position: relative;
        z-index: 2;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 12px;

        li{
          list-style: none;
          padding: 8px 0;

          .single_post_nav{
            color: #f6f6f6 !important;
            font-size: 13px;
            text-transform: unset;
            transition: all .3s;
            font-weight: 800;
            display: block;
            line-height: 20px !important;
            border-left: 3px solid rgba(0,0,0,0);
            transform: translateX(-3px);

            &:hover,
            &.current{
              color: #067fef !important;
              border-color: #ffffff;
              padding-left: 10px;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  h3{
    text-transform: uppercase;
    font-size: 32px;
    font-family: $f-med;
    line-height: 1.2;
    margin-bottom: 16px;
    width: 100%;

    @media(max-width: 992px){
      font-size: 30px;
    }

    @media(max-width: 767px){
      font-size: 28px;
    }

    @media(max-width: 575px){
      font-size: 26px;
    }

    @media(max-width: 440px){
      font-size: 24px;
    }
  }

  .wp-block-list{
    padding: 0;
    display: grid;
    gap: 10px;
  }


  .wp-block-image{
    margin: 16px;
  }

  .post-text-part,
  .post-media-part{
    margin-bottom: 40px;

    @media(max-width: 440px){
      margin-bottom: 32px;
    }

    p{
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    ul{
      margin: 0 0 16px 0;
      padding: 0;
      row-gap: 8px;
      display: grid;

      li{
        list-style: none;
        padding-left: 44px;
        background-repeat: no-repeat;
        background-position: top left;
        background-image: url("../img/arrow.svg");

        @media(max-width: 440px){
          padding-left: 30px;
          background-size: 18px auto;
        }
      }
    }
  }

  .post-text-part{
    ul{
      column-count: 2;
      column-gap: 32px;
      display: block;

      @media(max-width: 767px){
        column-count: 1;
      }

      li{
        margin-bottom: 8px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .post-media-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .pic-wrapper{
      width: calc(50% - 16px);

      @media(max-width: 767px){
        width: 100%;
        margin-bottom: 16px;
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    .text-wrapper{
      width: calc(50% - 16px);

      @media(max-width: 767px){
        width: 100%;
      }
    }

  }
}