.block-slogan{
  position: relative;

  .bg-pic{
    position: absolute;
    z-index: 2;
    /*width: 40vw;*/
    height: auto;
    left: 50%;
    top: 0;
    transform: translateX(-80%) translateY(-25%);
    width: 810px;

    @media(max-width: 2000px){
      width: 40vw;
    }
  }

  .light{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0) translateY(55%);
    width: 100%;
    z-index: 2;

    img{
      width: 100%;
      height: auto;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .block-title{
    margin-bottom: 16px;
    max-width: 740px;
  }

  .text{
    margin-bottom: 90px;
    font-family: $f-flex;
    max-width: 740px;

    p{
      /*font-size: clamp(24px, 1.56vw, 30px);*/
      font-size: 26px;
      margin-bottom: 8px;

      @media(max-width: 2000px){
        font-size: 24px;
      }

      @media(max-width: 575px){
        font-size: 22px;
      }

      @media(max-width: 440px){
        font-size: 20px;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .marquee-wrapper{
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
    padding: 10px 0;
    background-color: $color-light-blue;
    z-index: 3;
    text-transform: uppercase;
    font-size: 26px;

    @media(max-width: 2000px){
      font-size: 24px;
      margin-top: 0;
    }

    @media(max-width: 1200px){
      font-size: 22px;
    }


    .marque-list{
      flex-shrink: 0;
      display: flex;
      gap: 32px;
      counter-reset: marque-item;
      justify-content: space-around;
      min-width: 100%;
      /*width: 100%;*/
    }

    .marque-item{
      flex: 0 0 auto;
      counter-increment: item;
      display: flex;
      justify-content: center;
      align-items: center;
      /*transition: all 0.1s ease-in-out;*/
      transition: all 0.3s;
      margin: 0;
    }

    img{
      width: 32px;
      height: auto;
    }

    .marquee-move {
      animation: scroll 50s linear infinite;

    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 20px));
      }
    }
  }

  /*.marquee-wrapper{
    position: relative;
    z-index: 3;

    .run-row{
      height: auto;
      padding: 16px 0;
      position: relative;
      transform-origin: center;
      width: 100%;
      overflow: hidden;
      background-color: $color-light-blue;

      @media(max-width: 992px){
        padding: 10px 0;
      }

      .js-marquee{
        font-size: 26px;

        @media(max-width: 2000px){
          font-size: 24px;
        }

        @media(max-width: 1200px){
          font-size: 22px;
        }

        @media(max-width: 992px){
          font-size: 20px;
        }

        @media(max-width: 575px){
          font-size: 16px;
        }
      }
    }
  }*/
}