.site-footer{
 /* background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;*/
  /*padding-bottom: 36.45vw;*/
  /*padding-bottom: 19vw;*/
  padding-bottom: 274px;
  position: relative;

  @media(max-width: 1200px){
    padding-bottom: 19vw;
  }

  .lines-wrapper{
    .line:nth-child(2){
      display: none;
    }
  }

  .bg-pic{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    img{
      width: 100%;
      height: auto;
    }
  }

  .light{
    width: 1430px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: translateX(-50%);

    img{
      width: 100%;
      height: auto;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .form-wrapper{
    margin-bottom: 42px;

    .inner{
      /*padding: clamp(60px, 4.15vw, 80px);*/
      padding: 80px;
      position: relative;
      display: flex;
      /*align-items: center;*/
      background: rgba(20, 20, 20, 0.8);
      backdrop-filter: blur(12px);
      justify-content: space-between;
      align-items: flex-end;

      @media(max-width: 2000px){
        padding: 60px;
      }

      @media(max-width: 1200px){
        padding: 32px;
        gap: 32px;
      }

      @media(max-width: 850px){
        flex-wrap: wrap;
        justify-content: center;
      }


      @media(max-width: 440px){
        padding: 24px;
      }

      &:before{
        content: '';
        position: absolute;
        inset: 0;
        background: $bg-blue-gradient;
        z-index: 1;
      }
    }

    form{
      position: relative;
      z-index: 2;

      @media(max-width: 850px){
        margin-bottom: 32px;
        width: 100%;
      }
    }

    .form-title{
      /*font-size: clamp(64px, 5vw, 96px);*/
      font-size: 70px;
      /*font-family: $f-med;*/
      font-family: $f-BeauSP-Bbook;
      line-height: 1.2;
      margin-bottom: 8px;

      @media(max-width: 2000px){
        font-size: 64px;
      }

      @media(max-width: 1200px){
        font-size: 58px;
      }

      @media(max-width: 992px){
        font-size: 50px;
      }

      @media(max-width: 850px){
        text-align: center;
      }

      @media(max-width: 440px){
        font-size: 42px;
      }
    }

    .form-call{
      /*font-size: clamp(24px, 1.56vw, 30px);*/
      font-size: 26px;
      margin-bottom: 42px;
      text-transform: uppercase;
      /*width: clamp(486px, 32.4vw, 622px);*/
      width: 486px;

      @media(max-width: 2000px){
        font-size: 24px;
      }

      @media(max-width: 1200px){
        font-size: 22px;
        width: 380px;
      }

      @media(max-width: 992px){
        font-size: 20px;
        width: 330px;
      }

      @media(max-width: 850px){
        text-align: center;
        margin: 0 auto 42px;
      }

      @media(max-width: 440px){
        width: 100%;
        font-size: 18px;
      }
    }

    .form-group{
      /*width: clamp(344px, 23.88vw, 459px);*/
      /*width: 400px;*/
      width: 100%;

      @media(max-width: 1350px){
        width: calc(100% - 32px);
      }

      @media(max-width: 1200px){
        width: 100%;
      }

      /*@media(max-width: 2000px){
        width: 344px;
      }

      @media(max-width: 1200px){
        width: 300px;
      }

      @media(max-width: 850px){
        margin-left: auto;
        margin-right: auto;
      }

      @media(max-width: 440px){
        width: 100%;
      }*/
    }

    .button{
      /*width: clamp(344px, 23.88vw, 459px);*/
      /*width: 400px;*/
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;

      @media(max-width: 1350px){
        width: calc(100% - 32px);
      }

      @media(max-width: 1200px){
        width: 100%;
      }

      /*@media(max-width: 2000px){
        width: 344px;
      }

      @media(max-width: 1200px){
        width: 300px;
      }

      @media(max-width: 850px){
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      @media(max-width: 440px){
        width: 100%;
      }*/
    }

    .contacts-wrapper{
      position: relative;
      z-index: 2;
      display: grid;
      gap: 32px;
      /*margin-right: 5.2vw;*/

      @media(max-width: 992px){
        margin-right: 0;
      }

      @media(max-width: 850px){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      @media(max-width: 670px){
        gap: 24px;
      }

      .menu-contacts{

        @media(max-width: 850px){
          width: calc(50% - 16px);
        }

        @media(max-width: 670px){
          width: 100%;
          text-align: center;
        }

        .contact-name{
          color: $color-gray;
          text-transform: uppercase;
          font-size: 18px;
          margin-bottom: 8px;

          @media(max-width: 767px){
            font-size: 16px;
          }

          @media(max-width: 575px){
            font-size: 14px;
          }

        }

        a,
        p{
          margin-bottom: 0;
          color: $color-white !important;
          font-size: 16px;
          display: block;

          @media(max-width: 767px){
            font-size: 14px;
          }

          /*@media(max-width: 575px){
            font-size: 12px;
          }*/

        }

        a{
          transition: all 0.3s;

          &:hover{
            color: $color-light-blue !important;
          }
        }

        .social-wrapper{
          justify-content: flex-start;

         .social-row{
           @media(max-width: 670px){
            justify-content: center;
           }
         }


        }

      }
    }

    .icon{
      position: absolute;
      width: 56px;
      height: 56px;
      top: 60px;
      right: 60px;

      @media(max-width: 1200px){
        top: 32px;
        right: 32px;
      }

      @media(max-width: 767px){
        display: none;
      }
    }
  }

  &.new-footer{
    background: radial-gradient(261.99% 124.63% at 1.95% 3.59%, rgba(2, 23, 169, 0.40) 0%, rgba(2, 23, 169, 0.00) 100%), rgba(20, 20, 20, 0.80);
    backdrop-filter: blur(21px);
    position: relative;
    padding-top: 60px;
    padding-bottom: 0;
    overflow: hidden;

    /*&:before{
      content: '';
      position: absolute;
      inset: 0;
      background-image: radial-gradient(circle farthest-side at left top, rgba(2, 23, 69, 0.4) 0%, rgba(2, 23, 69, 0) 100%);
      z-index: 1;
    }*/

    .container-fluid{
      position: relative;
      z-index: 2;
    }

    .content{
      display: flex;
      align-items: flex-end;
      position: relative;

      @media(max-width: 950px){
        flex-wrap: wrap;
      }

      .form-contacts{
        width: 740px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 79px;
        z-index: 2;
        position: relative;

        @media(max-width: 950px){
          width: 100%;
        }

        @media(max-width: 950px){
          padding-bottom: 62px;
        }

        @media(max-width: 767px){
          padding-bottom: 52px;
        }

        @media(max-width: 575px){
          padding-bottom: 42px;
        }

        @media(max-width: 440px){
          padding-bottom: 32px;
        }

        .logo{
          display: none;

          @media(max-width: 767px){
            display: block;
            width: 140px;
            margin: 0 auto 20px;
          }

          img{
            width: 100%;
            height: auto;
          }
        }

        .heading{
          width: 100%;
          margin-bottom: 52px;

          @media(max-width: 950px){
            margin-bottom: 44px;
          }

          @media(max-width: 440px){
            margin-bottom: 32px;
          }

          .form-title{
            margin-bottom: 20px;
            font-size: 74px;
            letter-spacing: -0.05em;
            line-height: 1.2;
            font-family: var(--font-ukraine-medium);

            @media(max-width: 992px){
              font-size: 66px;
            }

            @media(max-width: 950px){
              text-align: center;
            }

            @media(max-width: 767px){
              font-size: 60px;
            }

            @media(max-width: 575px){
              font-size: 54px;
            }

            @media(max-width: 440px){
              font-size: 48px;
            }
          }

          .form-call{
            margin-bottom: 0;
            font-size: 24px;
            line-height: 1.4;
            font-family: var(--font-roboto-flex);
            font-weight: 400;

            @media(max-width: 950px){
              text-align: center;
            }

            @media(max-width: 767px){
              font-size: 22px;
            }

            @media(max-width: 440px){
              font-size: 20px;
            }
          }
        }

        form{
          width: 400px;

          @media(max-width: 950px){
            width: 100%;
            margin-bottom: 44px;
          }

          @media(max-width: 440px){
            margin-bottom: 32px;
          }

          .form-group{
            margin-bottom: 14px;
            width: 100%;
            height: auto;

            &:last-child{
              margin-bottom: 40px;
            }

            label{
              width: 100%;
              display: block;
              margin: 0;
              padding: 0;
            }

            .label-text{
              font-size: 14px;
              line-height: 1.4;
              margin-bottom: 11px;
              font-family: var(--font-roboto-flex);
              display: block;
              font-weight: 400;
              color: var(--color-white-new);

              span{
                color: #FF3B30;
              }
            }

            .form-control{
              width: 100%;
              background-color: rgba(0, 0, 0, 0.2);
              border: 1px solid rgba(233, 233, 233, 0.3);
              padding: 14px 20px;
              border-radius: 12px;

              &::-webkit-input-placeholder {
                color: #ffffff;
              }
              &:-moz-placeholder {
                color: #ffffff;
              }
              &::-moz-placeholder {
                color: #ffffff;
              }
              &:-ms-input-placeholder {
                color: #ffffff;
              }
            }

            .intl-tel-input{
              .form-control{
                padding-left: 48px;
              }
            }
          }

          .button{
            width: 100%;
            padding: 0;
          }
        }

        .contacts-wrapper{
          width: calc(100% - 460px);
          display: grid;
          gap: 32px;

          @media(max-width: 950px){
            width: 320px;
          }

          @media(max-width: 575px){
            width: 260px;
          }

          .contact-name{
            color: var(--color-grey);
            margin-bottom: 8px;
            line-height: 1.2;
            font-size: 18px;
            font-family: var(--font-roboto);
            font-weight: 400;
            text-transform: uppercase;
          }

          p,
          a{
            font-size: 16px;
            display: block;
            margin-bottom: 0;
            line-height: 1.2;
            color: var(--color-white) !important;
            font-family: var(--font-roboto);
            font-weight: 400;
          }
        }
      }

      .footer-image{
        width: calc(100% - 740px);
        margin-left: -177px;
        position: relative;
        z-index: 1;

        @media(max-width: 950px){
          width: calc(100% - 320px);
          margin-left: 210px;
        }

        @media(max-width: 575px){
          width: calc(100% - 260px);
          margin-left: 140px;
        }

        .image-wrapper{
          position: relative;

          img{
            position: absolute;
            left: 0;
            bottom: 0;
            height: 720px;
            width: auto;
            max-width: 200vw;

            @media(max-width: 950px){
              height: 375px;
            }
          }
        }
      }
    }

    .copy-wrapper{
      position: relative;
      padding: 37px calc(16px + 60px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media(max-width: 1400px){
        padding: 35px calc(16px + 40px);
      }

      @media(max-width: 950px){
        padding: 30px calc(16px + 20px);
      }

      @media(max-width: 767px){
        padding: 25px 16px;
      }

      @media(max-width: 575px){
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 16px;
      }

      @media(max-width: 440px){
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &:before{
        content: '';
        position: absolute;
        top: 0;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        height: 0.5px;
        background: #5F5F5F;
        opacity: 0.5;
      }

      .copy,
      .privacy{
        margin-bottom: 0;
        color: #ffffff !important;
        transition: all 0.3s;
        font-size: 16px;
        line-height: 1.2;
        font-family: var(--font-roboto);
        font-weight: 400;

        @media(max-width: 575px){
          width: 100%;
        }
      }

      .logo{
        width: 140px;

        @media(max-width: 767px){
          display: none;
        }

        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }

}