.home-what-you-get{
  position: relative;
  padding-bottom: 204px;

  @media(max-width: 992px){
    padding-bottom: 160px;
  }

  @media(max-width: 767px){
    padding-bottom: 120px;
  }

  .text-element{
    position: relative;
    z-index: 3;
    width: auto;
    height: 19vw;
    margin: 0 auto 7vw;
    display: block;

    @media(max-width: 992px){
      margin-bottom: 10vw;
    }

    @media(max-width: 767px){
      width: calc( 100% - 50px);
    }

    @media(max-width: 440px){
      width: auto;
      height: 19vw;
    }

  }

  .light{
    position: absolute;
    left: 0;
    z-index: 1;
    top: 0;
    width: 904px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .logo-bg{
    position: absolute;
    top: -150px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 65.67vw;
    height: auto;

    @media(max-width: 1200px){
      width: 75vw;
    }

    @media(max-width: 992px){
      width: 90vw;
    }
  }

  .container-fluid{
    position: relative;
    z-index: 3;
  }

  .get-list{
    margin: 0;
    gap: 24px;
    display: grid;

    @media(max-width: 992px){
      order: 1;
    }

    .item{
      list-style: none;
      display: flex;
      align-items: center;

      svg{
        width: 58px;
        height: auto;
        margin-right: 32px;

        @media(max-width: 440px){
          width: 48px;
          margin-right: 24px;
        }
      }

      span{
        width: calc(100% - 90px);
        text-transform: uppercase;
        font-family: $f-flex;
        font-size: 24px;

        @media(max-width: 1200px){
          font-size: 22px;
        }

        @media(max-width: 575px){
          font-size: 20px;
        }

        @media(max-width: 440px){
          font-size: 18px;
          width: calc(100% - 72px);
        }

        @media(max-width: 375px){
          font-size: 16px;
        }
      }
    }
  }

  .pic-container{
    position: relative;

    @media(max-width: 992px){
      order: 0;
    }

    .img-container{
      position: absolute;
      width: 50vw;
      overflow: hidden;
      left: 0;
      top: -41vw;

      @media(max-width: 992px){
        left: auto;
        right: -70px;
        width: 40vw;
        top: -44vw;
      }

      @media(max-width: 767px){
        right: -30px;
      }

      @media(max-width: 575px){
        right: 5px;
        width: 50vw;
      }

      img{
        width: 100%;
        height: auto;
        transition: all 0.3s;
        transform: translateY(-23vw);
        
        @media(max-width: 992px){
          transform: translateY(-18vw);
        }

        @media(max-width: 575px){
          transform: translateY(-22vw);
        }
      }
    }
  }

  &.visible{
    .pic-container{
      .img-container{
        img{
          animation: container-mov 1.5s linear 1 forwards;

          @media(max-width: 1200px){
            animation: container-mov-1200 1.5s linear 1 forwards;
          }

          @media(max-width: 992px){
            animation: container-mov-992 1.5s linear 1 forwards;
          }

          @media(max-width: 575px){
            animation: container-mov-575 1.5s linear 1 forwards;
          }
        }
      }
    }
  }

  @keyframes container-mov {

    0%{
      transform: translateY(-23vw);
    }

    100%{
      transform: translateY(-5vw);
    }
  }

  @keyframes container-mov-1200 {

    0%{
      transform: translateY(-23vw);
    }

    100%{
      transform: translateY(0vw);
    }
  }

  @keyframes container-mov-992 {

    0%{
      transform: translateY(-18vw);
    }

    100%{
      transform: translateY(0vw);
    }
  }

  @keyframes container-mov-575 {

    0%{
      transform: translateY(-22vw);
    }

    100%{
      transform: translateY(0vw);
    }
  }


}